{
	"plugins": [
		"@semantic-release/commit-analyzer",
		"@semantic-release/release-notes-generator",
		"@semantic-release/changelog",
		["@semantic-release/git", {
			"assets": ["internal/parser/lib"]
		}],
		"@semantic-release/github"
	]
}
